/* 
font-family: 'Abril Fatface', cursive; 
font-family: 'Bad Script', cursive;
font-family: 'Press Start 2P', cursive;  -- video game font
font-family: 'Berkshire Swash', cursive;
*/

body {
  background-color:black !important;
}

cite {
  color:#D3D3D3;
}

footer {
  margin-top: 1%;
  margin-bottom: 1%;
}

h2 {
  font-family:Raleway !important;
  color:#F9F9F9 !important;
}

img {
  display: block;
  margin: 0 auto;
}

li {
  font-family: Nunito;
  font-size: 1.3em;
}

p {
  color:#D3D3D3; 
  font-family:Raleway;
}

ul {
  list-style:square;
}

.a {
  color:#d9534f !important;
}

.about-me-text {
  color:black;
  font-family: Nunito;
  font-size: 1.3em !important;
}

.nav-force {
  color:#d9534f !important;
  font-family: Nunito !important;
  font-size:1.2em !important;
}

.h1 {
  margin-top:20px;
  font-family:Raleway !important;
  font-size:6.0em !important;
  color:#F9F9F9 !important;
}

.block {
  background-color:black;
  opacity:0.8;
  padding:15px;
  width:50%;
  border-radius:5px;
  margin: 250px auto 10px auto;
}

.jumbotron {
  margin:0 !important;
}

.rale-font {
  font-family:Raleway;
}

.btn-links {
  margin-top:5px;
}

.danger-color {
  color:#d9534f !important;
}

.icon-right {
  float: right;
  color:black;
}

.line {
  background-color: #242424;
  width: 60px;
  height: 4px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  margin-top:10px;
  clear: both;
}

.nav-pills {
  background-color: black;
  width:100%;
  letter-spacing: 1.5px;
  position: fixed;
  top:0;
}

.pageOne {
  background:url("background_imgs/background_1.jpeg");
  background-size:cover;
  height:1000px;
  width:auto;
  color:#d9534f !important;
}

.pageTwo {
  background-color: black !important;
}

.pageThree {
 
}

.rs-img {
  border-radius: 50%;
}

#twitterIcon {
  color:#00aced;
}

#linkedIcon {
  color:#0077b5;
}

#githubIcon {

}

#freecodeIcon {
  color:#006400;
}