a {
  font-family:Raleway;
}
body {
  background-color:#D3D3D3 !important;
}
img {
    display: block;
    margin: 0 auto;
}
cite {
  color:#D3D3D3;
}
footer { 
    display: block;
}
p {
 color:#D3D3D3; 
}
.navbar {
    background-color: #222222 !important;
    margin:0 !important;
}
.jumbotron {
  margin:0 !important;
}
.rale-font {
  font-family:Raleway;
}
.nunito-font {
  font-family:'Nunito', sans-serif;
}
.source-sans-font {
  font-family:'Source Sans Pro', sans-serif;
}
.lobster-font {
  font-family:Lobster;
  color:#d9534f !important;
  font-size:35px !important;
  padding-left:80px !important;
}
.lobster-font2 {
  font-family:Lobster;
}
.danger-color {
  color:#d9534f !important;
}
.margin-right {
  margin-right:80px;
}
.black-background {
  background-color:black !important;
}
.fixed-nav-bar {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #222222;
}
.icon-right {
float: right;
color:black;
}