html body {
  background-color:black;
  font-family: Verdana;
  padding: 20px;
  color: white;
}

h1 {
  text-align: center;
  font-family: Nunito;
  color: #d9534f;
  font-size: 3.0em;

}

button {
  border: 1px solid red;
  padding: 5px;
  margin-top: 20px;

}

button:hover {
  background-color: #d9534f;
  color: white;
  cursor: pointer;
}

div {
  margin-right: auto;
  margin-left: auto;
}

.center { 
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center; 
}

.panel-top {
  padding: 20px;
  width: 70%;
  background-color: #d9534f;
}

.score {
 font-weight: bold;
 font-family:Lobster;
 font-size: 2.0em;
 padding: 5px;
 margin-top: 10px;
}

.panel-bottom {
  padding: 20px;
  width: 70%;
  background-color: black;

}

#message {
  color: black;
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  font-family: Abril Fatface;
}

#computer-score {
  
}

#player-score {
  
}

#computer-said {
 color:#f1f1f1; 
 font-family: Raleway;
 font-size: 1.5em;
}

#player-said {
  color:#5bc0de;
  font-family: Raleway;
  font-size: 1.5em; 
}

.player-msg {
  color: #428bca !important;
  color:#f1f1f1;
  font-family: Raleway;
  font-size: 1.5em; 
    
}

#action-rock {
  margin-left: 180px;
}

#action-paper {

}

#action-scissors {

}