html body {
  background-color:black;
}

h1 {
  text-align: center;
  font-family: Nunito;
  color: #d9534f;
  padding-bottom: 20px;
  font-size: 2.5em;

}

button {
  border: 1px #428bca;
  padding: 5px;
  margin-top: 20px;

}

button:hover {
  background-color: #428bca;
  color: white;
  cursor: pointer;
}

div {
  margin-right: auto;
  margin-left: auto;
}

.center { 
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center; 
}

.panel-top {
  width: 70%;
  background-color: black;
}

.score {
 color:#f1f1f1;
 text-align:center; 
 font-weight: bold;
 font-family:Lobster;
 font-size: 1.5em;
 padding: 5px;
 margin-top: 10px;
}

.panel-bottom {
  width: 70%;
  background-color: black;

}

#message {
  color: #5bc0de;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: Abril Fatface;
}

#computer-score {
  color:#d9534f;
  font-size: 1.5em;
}

#computer-said {
 color:#d9534f; 
 font-family: Raleway;
 font-size: 1.5em;
}

#player-score {
  color:#428bca;
  font-size: 1.5em;
}

#player-said {
  color:#428bca;
  font-family: Raleway;
  font-size: 1.5em; 
}

.player-msg {
  color:#f1f1f1;
  font-family: Raleway;
  font-size: 1.5em; 
    
}

#action-rock {

}

#action-paper {

}

#action-scissors {

}