a {
  text-decoration: none !important;
}
html body {
  background-color: white;
  margin-top:30px;
}
html h1 {
  font-size:80px;
  color:#d9534f !important;
  font-family:Lobster;
}
html h3 {
  color:#d9534f;
  font-family:Lobster Two;
  text-align: center;
}
html h5 {
  text-align:center;
}
html img {
    display: block;
    margin: 0 auto;
}
li {
  font-family:Raleway;
  padding-top:20px;
}
footer {
  font-family: Raleway;
  font-size: 10px;
}
.align {
    display: block;
    margin: 0 auto;
}
.jumbotron {
  background-color:#F5F5F5;
}
.rale-font {
  font-family:Raleway;
}
.lobster-font2 {
  font-family:Lobster;
}
.red-border {
    border-color: #d9534f;
    border-width: 10px;
    border-style: solid;
}