/* 

 body is just the background 
 class is basically a variable 
 class = .
 id = #   id attribute will always take precedence over classes
 in-line styles will override all the CSS declarations in your style element 
 in-line style example: <h1 style="color: white">Hello World</h1> 
 when you absolutely need to be sure that an element has specific CSS, you can use !important ex. color:white !important; 

 */


  h2 {
    font-family: Lobster, Monospace;
  }
  p {
    color:black;
    font-size: 16px;
    font-family: Monospace;
  }
  .red-text {
   color: red;
  }
  .thick-red-border {
    border-color: red;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
  .smaller-image {
    width: 100px;
  }
  .dodger-blue-text {
    color: #2998E4;
  }
  .white-text{
    color:white;
  }
  .black-text {
    color: black !important; /*this would overwrite any other css */
  }
  .wrapper {
    text-align: center;
  } 

  .button {
    position: absolute;
    top: 50%;
  }
  .align-middle{
    margin:5px 5px 5px 5px;
    padding-left: 450px;
    padding-right: 450px;
    display:block;
  }
