body {
  background-color: white;
  margin-top:60px
}
h1 {
  font-size:80px;
  color:#d9534f;
  font-family:Lobster;
}
h3 {
  color:#d9534f;
  font-family:Lobster Two;
}
img {
    display: block;
    margin: 0 auto;
}
  .red-border {
    border-color: #d9534f;
    border-width: 10px;
    border-style: solid;
  }
li {
  font-family:Raleway;
  padding-top:20px;
}
.align {
    display: block;
    margin: 0 auto;
}
.jumbotron {
  background-color:#F5F5F5;
}